* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 8px 0;
  z-index: 1;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.logo img {
  width: 70px;
  height: 70px;
}

.head {
  line-height: 0.9;
}

.head p {
  text-align: right;
  font-size: smaller;
  color: #9e9e9e;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px solid #f44336;
  background-color: white;
  margin: 50px 0;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.title {
  margin-bottom: 10px;
  font-weight: lighter;
}

.short {
  font-size: smaller;
  color: #9e9e9e;
  margin-bottom: 20px;
}

.first {
  font-weight: bold;
  font-size: 18px;
  color: black;
  font-family: "Courier New", Courier, monospace;
  margin-right: 5px;
}

.imgDiv {
  margin-bottom: 20px;
}

.imageUrl {
  width: 350px;
  height: 300px;
}

.content {
  color: gray;
  line-height: 1.2;
}

.group {
  margin: 20px 50px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .imageUrl {
    width: 560px;
    height: 400px;
  }
  .group {
    margin: 40px 90px;
  }
}

@media screen and (min-width: 1024px) {
  .box {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px;
  }
  .group {
    margin: 80px 160px;
  }
  .imageUrl {
    width: 350px;
    height: 300px;
  }
  .imgDiv {
    margin-bottom: 0;
    margin-right: 15px;
  }
}